<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		Quiz - Admin Panel
	</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="/stylesheets/admin.css">
	<script src="/javascripts/sha512.js" defer></script>
	<script src="/javascripts/admin.js" defer></script>
</head>

<body>
	<div class="container">
		<h1>
			Admin Panel - Podaj hasło
		</h1>
		<div class="message"></div>
		<form action="get">
			<input type="password" id="form-password" name="password" placeholder="Hasło">
			<input type="submit" id="form-login-btn" value="Zaloguj">
		</form>
	</div>
</body>

</html>