<!DOCTYPE html>
<html>

<head>
	<title>
		Quiz - Admin Panel
	</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="/stylesheets/panel.css">
	<script src="/javascripts/panel.js" defer></script>

	<link rel="stylesheet" href="/css/all.min.css">
</head>

<body>
	<div class="blur" style="display: none;"></div>
	<div class="question-info" style="display: none;">
		<h2 class="question-title">Jak na imię ma Krzysztof?</h2>
		<table class="question-answers">
		</table>
	</div>
	<div class="container">
		<h1>
			Wyniki Quizu:
		</h1>
		<div class="scores">
			Ładowanie...
		</div>
	</div>
</body>

</html>