.message {
	color: var(--red);
	font-size: 1.5em;
}

form {
	margin-top: 2em;
	margin-bottom: 2em;

	input {
		display: block;
		margin: auto;

		&[type="password"] {
			background-color: var(--bg2);
			padding: 0.5em;
			border-radius: 1em;
			border: 3px solid var(--blue);
			color: var(--fg);
			font-size: 1.25em;
		}

		&[type="submit"] {
			margin-top: 1em;
			font-size: 1.25em;
			padding: 0.5em;
			border-radius: 1em;
			border: 3px solid var(--blue);
			background-color: var(--bg2);
			color: var(--fg);
			cursor: pointer;
			transition: 0.3s all;

			&:hover {
				background-color: var(--blue);
				color: var(--bg2);
			}
		}
	}
}