h1 {
  font-size: 3em;
}

html, body {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
}

form {
  margin-top: 2em;
  margin-bottom: 2em;
}

input {
  display: block;
  margin: auto;
}
input[type=text] {
  background-color: var(--bg2);
  padding: 0.75em;
  border-radius: 1em;
  border: 5px solid var(--blue);
  color: var(--fg);
  font-size: 1.25em;
}
input[type=submit] {
  margin-top: 1em;
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 1em;
  border: 5px solid var(--blue);
  background-color: var(--bg2);
  color: var(--fg);
  cursor: pointer;
  transition: 0.3s all;
}
input[type=submit]:hover {
  background-color: var(--blue);
  color: var(--bg2);
}
input[type=submit]:disabled {
  background-color: #ccc;
  color: var(--blue);
}

.hidden {
  opacity: 0 !important;
  z-index: -1 !important;
}

.disabled {
  display: none;
}

.start-screen {
  position: absolute;
  transition: 1s all;
}

.finish-screen {
  z-index: 10;
  position: absolute;
  transition: 1s all;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

.score .good {
  color: var(--green);
}
.score .bad {
  color: var(--red);
}

.question-screen {
  position: absolute;
  z-index: 10;
  transition: 1s all;
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  display: block;
}
.question-screen > .header {
  width: 100%;
  height: 10%;
  background-color: var(--bg2);
  border-radius: 0 0 1em 1em;
}
.question-screen > .header > div {
  text-align: center;
  width: 50%;
  height: 100%;
  display: inline-flex;
  float: left;
  place-content: center;
  place-items: center;
  font-size: 1.5em;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
  overflow: hidden;
}
.question-screen > .header > div > p {
  user-select: none;
  display: inline;
  margin: 0;
  padding: 5px;
  width: 100%;
  text-overflow: ellipsis;
}
.question-screen > .question-container {
  clear: both;
  height: 80%;
  width: 100%;
}
.question-screen > .question-container .title {
  margin: auto;
  border-radius: 2em;
  width: 100%;
  height: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: var(--bg2);
  display: flex;
  place-content: center;
  place-items: center;
  font-size: 1em;
  user-select: none;
}
.question-screen > .question-container .answer {
  border-radius: 1em;
  margin: auto;
  width: 100%;
  height: 75%;
  background-color: var(--bg2);
  position: relative;
}
.question-screen > .question-container .answer > .abcd {
  z-index: 1;
  opacity: 1;
  transition: 1s all;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5%;
  row-gap: 5%;
}
.question-screen > .question-container .answer > .abcd p {
  user-select: none;
  color: var(--bg1);
  margin: auto;
  display: flex;
  place-content: center;
  place-items: center;
  font-size: 1.25em;
  width: 100%;
  height: 100%;
  background-color: var(--fg);
  border-radius: 1em;
  cursor: pointer;
  transition: 0.3s all;
}
.question-screen > .question-container .answer > .abcd p:active {
  background-color: var(--blue);
  color: var(--fg);
}
.question-screen > .question-container .answer > .abcd p.correct {
  background-color: var(--green);
  color: var(--bg1);
}
.question-screen > .question-container .answer > .abcd p.wrong {
  background-color: var(--red);
  color: var(--bg1);
}
.question-screen > .question-container .answer .write {
  z-index: 1;
  opacity: 1;
  transition: 1s all;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5%;
}
.question-screen > .question-container .answer .write > input {
  background-color: var(--bg1);
}
.question-screen > .question-container .answer .write > input.correct {
  background-color: var(--green);
  color: var(--bg1);
}
.question-screen > .question-container .answer .write > input.wrong {
  background-color: var(--red);
  color: var(--bg1);
}
.question-screen > .question-container .answer .write > .write-submit-btn {
  background-color: var(--blue);
  color: var(--bg1);
  border-radius: 1em;
  padding: 0.5em;
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.3s all;
}
.question-screen > .question-container .answer .write > .write-submit-btn.correct {
  background-color: var(--green);
  color: var(--bg1);
}
.question-screen > .question-container .answer .write > .write-submit-btn.wrong {
  background-color: var(--red);
  color: var(--bg1);
}

/*# sourceMappingURL=quiz.css.map */
